<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ShopPractice Automation Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.shoppractice.listeners.TestListener" />
    </listeners>

    <test name="E-Commerce Tests">
        <classes>
            <class name="com.shoppractice.tests.LoginTest" />
            <class name="com.shoppractice.tests.FormValidationTest" />
            <class name="com.shoppractice.tests.ProductListingTest" />
            <class name="com.shoppractice.tests.ShoppingCartTest" />
            <class name="com.shoppractice.tests.OrderHistoryTest" />
        </classes>
    </test>
</suite>
